.movie-container{
    width:100%;
    height: 20px;
}
.grid-content{
    display: grid;
    /* grid-template-rows: 300px 300px 300px; */
    grid-template-columns:repeat(3,425px);
    margin-left: 25px;
    grid-gap: 10px;
    
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    /* width:400px; */
    padding:10px 20px 40px 20px;
    position: relative;
  
  
   
}
.card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    box-shadow:8px 5px 16px 5px rgba(0,0,0,0.2)
}
  /* styles for '...'  */
.block-with-text {
    /* Over flow hidden hides the text if it is more than N lines  */
    /* overflow: hidden; */
    /* To set '...' in absolute position */
    /* position: relative;  */
    /* Use this value to count block height */
    /* line-height: 1.4em; */
    /* Max-height = line-height (1.2) * lines max number (2) */
    /* max-height: 2.8em;  */
    /* place for '...' */
    /* padding-right: 40px; */
    /* display: block; */
  /* Fallback for non-webkit */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 3.9rem;
  /* Fallback for non-webkit */
  font-size: 1.0rem;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  position: relative;
  width: 379px;
    }

    /* create the ... */
.block-with-text:before {
    bottom: 0;
    position: absolute;
    right: 0;
    float: right;
    content: '\2026';
    margin-left: -3rem;
    /* width: 3rem; */
    }

    /* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
    }
    .a{
        color: dimgray;
        cursor: pointer;
        text-decoration:none;
    }
    a:hover{
        color: cornflowerblue;
    }
    .view-more{
        position:relative;
        bottom: 0px;
        position: absolute;
    }